* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: "ubuntu";
  src: url("../font/ubuntu-bold-webfont.woff2") format("woff2");
}

h1 {
  font-family: "ubuntu";
  font-style: normal;
  font-size: 48px;
  line-height: 1.6;
}

h2 {
  font-family: "ubuntu";
  font-style: normal;
  font-size: 40px;
  line-height: 1.6;
}

h3 {
  font-family: "ubuntu";
  font-style: normal;
  font-size: 36px;
  line-height: 1.6;
}

h4 {
  font-family: "ubuntu";
  font-style: normal;
  font-size: 34px;
  line-height: 1.6;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 1.6;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
}

.h6bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.bodybold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.small {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
}

.smallbold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
}

/* colors */
html {
  --yellow-100: #f2d55d;
  --grey-500: #5a5858;
  --blue-100: #ccd7e8;
  --green-100: #a4e3c4;
  --grey-100: #dad5d5;
}
