---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <main>
    <header>
      <h1></h1>
      <h2></h2>
      <h3></h3>
    </header>
    <body>
      <container>
        <h1>Designsystem</h1>
        <section>
          <h2>Font</h2>

          <h1>Faraos Cigarer</h1>
          <h2>Faraos Cigarer</h2>
          <h3>Faraos Cigarer</h3>
          <h4>Faraos Cigarer</h4>
          <h5>Faraos Cigarer</h5>
          <h6>Faraos Cigarer</h6>
          <h7>Faraos Cigarer</h7>
          <h8>Faraos Cigarer</h8>
          <h8>Faraos Cigarer</h8>
          <p>Faraos Cigarer</p>
          <p>Faraos Cigarer</p>
          <p class="small">Faraos Cigarer</p>
          <p class="small">Faraos Cigarer</p>
        </section>

        <section>
          <h2>Farver</h2>

          <img src="colors.svg" alt="farvepalette" style="height: 500px; width: 500px" />
        </section>

        <section>
          <h2>Borders</h2>
          <div></div>
          <div></div>
          <div></div>
        </section>

        <section>
          <h2>Border-Radius</h2>
          <div></div>
          <div></div>
          <div></div>
        </section>

        <section>
          <h2>Box-Shadow</h2>
          <div></div>
          <div></div>
          <div></div>
        </section>
      </container>

      <container>
        <h1>Assetliste</h1>

        <section>
          <h2>Buttons</h2>

          <button></button>
          <button></button>
          <button></button>
        </section>

        <section>
          <h2>Labels</h2>

          <img src="tilbud.svg" alt="tilbuds label" style="height: 150px; width: 150px" />
          <img src="bestseller.svg" alt="bestseller label" style="height: 150px; width: 150px" />
          <img src="nyhed.svg" alt="nyheds label" style="height: 150px; width: 150px" />
          <img src="udsolgt.svg" alt="udsolgt label" style="height: 150px; width: 150px" />
          <img src="kbh.svg" alt="kbh label" style="height: 150px; width: 150px" />
          <img src="lyngby.svg" alt="lyngby label" style="height: 150px; width: 150px" />
          <img src="odense.svg" alt="odense label" style="height: 150px; width: 150px" />
          <img src="aarhus.svg" alt="aarhus label" style="height: 150px; width: 150px" />
        </section>

        <section>
          <h2>Shop cards</h2>

          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </section>

        <section>
          <h2>Butik cards</h2>

          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </section>

        <section>
          <h2>Singleview</h2>

          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </section>

        <section>
          <h2>Navigation</h2>
        </section>
      </container>
    </body>
  </main>


</html>
