---
---

<div class='navContainer'>
  <div class='logo'>
    <img src='/logo.png' alt='logo' />
  </div>
  <div class='navItems'>
    <div class='navIcons'>
      <img src='/search.svg' alt='search' />
      <img src='/heart.svg' alt='liked' />
      <img src='/cart.svg' alt='cart' />
    </div>
    <nav>
      <a href='#'>Shop</a>
      <a href='#'>Butikker</a>
      <a href=''>Kalender</a>
      <a href=''>KLUB FARAOS</a>
    </nav>
  </div>
</div>
<hr />

<style>
  .navContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    margin-bottom: 1rem;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-right: 3rem;
    margin-bottom: 0.5rem;
  }

  .navIcons {
    display: flex;
    gap: 1rem;
  }

  hr {
    background-color: black;
  }

  nav {
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: inset 0px 11px 8px -10px yellow,
      inset 0px -11px 8px -10px yellow;
  }
</style>
